
:root {
  --shadow-light: #0003;
  --shadow-medium: #0005;
  --shadow-dark: #0007;
  --shadow-x-light: #0001;
}

.App {
  text-align: center;
  padding: 4px;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    /* transform: rotate(0deg); */
  }
  to {
    /* transform: rotate(360deg); */
  }
}

.App * {
  border-radius: 1em;
}
.App svg {
  border-radius: 0;
}
.show {
  transform: translateX(0%) !important;
}

.active {  
  filter: sepia(1); 
  padding-bottom: 4px;
  border-bottom: 2px solid #434343; 
  border-radius: 0;
}


@media (prefers-color-scheme: dark) {
  /* .day.dark-scheme {
    background: #333;
    color: white;
  }
  .night.dark-scheme {
    background: black;
    color: #ddd;
  } */
  :root {
    --shadow-light: #ccc3;
    --shadow-medium: #ccc5;
    --shadow-dark: #ccc7;
    --shadow-x-light: #ccc1;
  }
  .App {
    background-color: #2b2b2b;
    color: #eee;
  }
  svg {
    filter: invert(80%);   
  }
  img {
    filter: grayscale(100%)brightness(0.6);
  }
}